<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/header %>
    </head>


    <body>
        <% include partials/navbar %>

        
            <div class="container movies-home jumbotron" id="movie-tile">
                <div class="row">
                <img class="card-img-top col-5 " src="https://image.tmdb.org/t/p/w300<%=movie.tmdbInfo.poster_path%>"
                alt="Card image cap" id="movie-view-image">
                    <div class="card-body col-7">
                        <h5 class="card-title"><%= movie.tmdbInfo.title%></h5>
                        <p class="card-text">User Rating: <%= movie.movieRating%></p>
                        <p class="card-text">TMDB Rating: <%= movie.tmdbInfo.vote_average%></p>
                        <p><strong>Description: </strong><%= movie.tmdbInfo.overview%></p>
                    </div>
                </div>
            </div>
    </body>
</html>
