<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/header %>
    </head>


    <body>
        <% include partials/navbar %>

        <div class="container movie-list">
            <%for(var i = 0; i < movies.length; i++) {%>
                <%if( i % 3 == 0) {%>
                    <div class="row movie-row">
                <%}%>   

                <div class="card movie-card col-4">
                    <img class="card-img-top movie-tile-img" src="https://image.tmdb.org/t/p/w300<%=movies[i].tmdbInfo.poster_path%>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= movies[i].tmdbInfo.title%></h5>
                        <p class="card-text">User Rating: <%= movies[i].movieRating%></p>
                        <p class="card-text">TMDB Rating: <%= movies[i].tmdbInfo.vote_average%></p>
                        <a href="/movies/<%=movies[i]._id%>" class="btn btn-primary">Read More</a>
                    </div>
                </div>

                <%if( i % 3 == 2) {%>
                    </div>
                <%}%> 
            <%}%>
        </div>
    </body>
</html>
